# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.csv
*.json

hs_err_pid*
replay_pid*

target/
*.log
*.iml
.vscode/
.idea/
.DS_Store
.idea/